<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="layout">
    <div class="login_container">
        <ul>
            <li>
                <a href="/login/kakao">
                    <div class="login_btn kakao">
                        <img alt="로고" src="/img/kakao_logo.svg" class="logo">
                        <span>카카오로 로그인</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/login/naver">
                    <div class="login_btn naver">
                        <img alt="로고" src="/img/naver_logo.svg" class="logo">
                        <span>네이버로 로그인</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/login/google">
                    <div class="login_btn google">
<!--                        <img alt="로고" src="/img/naver_logo.svg" class="logo">-->
                        <span>구글로 로그인</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>